.col-md-14 th {
    text-align: center;
}

.col-md-14 td {
    text-align: center;
}

.navbar-header .navbar-brand {
    color: #227D38;
    font-weight: 600;
}

.navbar-brand span {
    color: #ffffff;
}

.col-md-3 th {
    text-align: center;
}

.double {
    border-left: solid 2.5px;
}

.IncomeLose {
    color: red;
}

.IncomeWin {
    color: green;
}
